@import './config.scss';

.component-item {
  display: flex;
  flex-direction: row;
  width: 95%;
  align-items: center;
  justify-content: flex-start;
  border-radius: 12px;
  margin-top: 10px;
  height: 55px;
  padding: 10px;
  background-color: $card-color;

  img {
    width: 18px;
    margin-right: 15px;
  }

  div {
    p {
      margin: 0;
      color: $secondary-color;
      font-weight: bold;
      font-size: 15px;

      &.concluded {
        text-decoration: line-through;
      }
    }

    span {
      color: $secondary-color;
      font-weight: normal;
      font-size: 13px;
    }
  }

  @media screen and(min-width: 1024px) {
    height: 70px;
    padding: 20px;

    img {
      width: 20px;
    }

    &.active {
      cursor: pointer;

      &:hover {
        border-color: $primary-color;
        border-style: solid;
        border-width: 1px;
      }
    }
  }
}