@import './config.scss';

.component-modal {
  margin-top: 150px;

  button {
    width: 40%;
    height: 50px;
    background-color: $primary-color;
    border: none;
    color: white;
    border-radius: 12px;
    font-size: 15px;
  }

  p {
    text-align: center;
    color: $primary-color;
    font-size: 17px;
    margin-top: 30px;
    font-weight: bold;
  }

  input {
    border-width: 0.5px;
    border-color: $secondary-color;
    border-radius: 12px;
    padding: 10px;
    height: 50px;
    margin-top: 10px;
    width: 90%;
  }

  .error {
    color: $error-color;
    font-size: 14px;
    margin-top: 10px;
  }

  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    span {
      margin-left: 30px;
      color: $primary-color;
      font-size: 15px;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .modal-content {
    border-radius: 12px;
  }

  .modal-footer {
    border-top: none;
  }

  @media screen and(min-width: 1024px) {
    margin-top: 250px;
  }
}